<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-07-02T04:24:23Z</date>
	<key>WorkspacePath</key>
	<string>/Users/dmitrydisson/Documents/Games/AlphaQ2/AlphaQ2.xcodeproj</string>
</dict>
</plist>
